* {
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
}
body {
   background-position: center;
   background-blend-mode: multiply;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}


/* Logo */
.logo img {
   width: 245px;
   height: 125px;
   padding-bottom: 10px;
}


/* Navbar */
header {
   position: fixed;
   width: 100%;
   height: 80px;
   background: #6d6d6d;
   display: flex;
   margin-top: -80px;
   align-items: center;
   z-index: 999;
   justify-content: space-between;
   padding: 0 100px;
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
header .vertical {
   position:fixed;
   display: block;
   border-left: 2px solid;
   height: 70px;
   left: 380px;
   top: 5px;
   color: #000000;
}
header .icon-medsos {
   position: absolute;
   display: block;
   height: 70px;
   left: 400px;
   top: 8px;
}
.icon-medsos a {
   text-decoration: none;
   color: #000000;
}
header .name-medsos {
   position: absolute;
   display: block;
   height: 70px;
   left: 425px;
   top: 8px;
}
input {
   display: none;
   visibility: hidden;
}


/* Button Menu */
.btnbar {
   position: absolute;
   height: 30px;
   width: 30px;
   right: 50px;
   top: 25px;
   z-index: 1;
   display: none;
   cursor: pointer;
   border-radius: 3px;
   background-color: #000000;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.btnbar .common {
   position: absolute;
   height: 1.5px;
   width: 20px;
   background-color: #ffffff;
   border-radius: 50px;
   transition: 0.3s ease
}
.btnbar .top_line {
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.btnbar .middle_line {
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.btnbar .bottom_line{
   top: 70%;
   left: 50%;
   transform: translate(-50%,-50%);
}
input:checked ~ .btnbar .top_line {
   left: 2px;
   top: 14px;
   width: 25px;
   transform: rotate(45deg);
}
input:checked ~ .btnbar .bottom_line {
   left: 2px;
   top: 14px;
   width: 25px;
   transform: rotate(-45deg);
}
input:checked ~ .btnbar .middle_line {
   opacity: 0;
   transform: translateX(20px);
}


/* Menu */
.navbar ul {
   display: flex;
}
.navbar ul li a {
   display: block;
   text-transform: uppercase;
   color: #fefefe;
   font-size: 14px;
   font-weight: 650;
   padding: 5px 20px;
   text-decoration: none;
   border-radius: 10px;
   transition: .3s;
   margin: 0 3px;
}
.navbar ul li a:hover {
   color: #11101b;
   background: #fefefe;
}
.navbar ul li a.active {
   color: #11101b;
   background: #fefefe;
}


/* Slider */
.slider {
   width: 100%;
   height: 88vh;
   overflow: hidden;
   margin-top: 80px;
   position: relative;
}
.slider .list .item {
   position: absolute;
   inset: 0 0 0 0;
}
.slider .list .item > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.slider .list .item .detail {
   position: absolute;
   top: 20%;
   width: 1200px;
   max-width: 80%;
   margin: auto;
   left: 50%;
   transform: translateX(-50%);
}
.slider .list .item .detail .title {
   font-size: 1.2rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1rem;
   margin-bottom: 0.9rem;
}
.slider .list .item .detail .name {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 3.5rem;
   letter-spacing: 0.3rem;
   line-height: 3.5rem;
   margin-bottom: 0.8rem;
   background: linear-gradient(#243748,#e01f2d);
   background-clip: text;
   color: transparent;
   text-shadow: none;
}
.slider .list .item .detail figure {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}
.slider .list .item .detail figure img {
   width: 2.5rem;
   border-radius: 30px;
}
.slider .list .item .detail figure figcaption {
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 500;
   letter-spacing: 0.1rem;
}
.slider .list .item .detail .desc {
   margin-top: 1rem;
   font-weight: 100;
   font-size: 1rem;
   max-width: 40rem;
   text-shadow: 1px 1px 2px #000;
}
.slider .list .item .detail .more {
   display: inline-block;
   margin-top: 1.4rem;
   text-decoration: none;
   background-color: #fff;
   color: #000;
   padding: 0.4rem 0.6rem;
   border-radius: 0.3rem;
   text-shadow: none;
   font-size: 1rem;
}
.slider .list .item .detail .more:hover {
   color: #fff;
   background-color: #077fe0;
}





/* .slider {
   width: 100%;
   height: 88vh;
   margin-top: 80px;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
   background-size: cover;
   position: relative;
   overflow: hidden;
}
.list {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   display: flex;
   width: max-content;
   transition: 1s;
}
.list img {
   width: 1350px;
   max-width: 100vw;
   height: 88vh;
   object-fit: cover;
}
.btn {
   position: absolute;
   top: 45%;
   left: 5%;
   width: 90%;
   display: flex;
   justify-content: space-between;
}
.btn button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #002a68;
   color: #ffffff;
   border: none;
}
.btn p {
   text-decoration: none;
   margin-top: -5px;
   font-size: 22px;
   text-align: center;
}
.dots {
   position: absolute;
   bottom: 10px;
   color: #fff;
   left: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}
.dots li {
   list-style: none;
   width: 10px;
   height: 10px;
   background-color: #fff;
   margin: 15px;
   border-radius: 20px;
   transition: 1s;
}
.dots li.active {
   width: 30px;
} */





/* Thumbnail */
.thumbnail {
   position: absolute;
   bottom: 20px;
   left: 55%;
   width: max-content;
   z-index: 888;
   display: flex;
   gap: 10px;
}
.thumbnail .item {
   width: 150px;
   height: 250px;
   flex-shrink: 0;
   position: relative;
}
.thumbnail .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}
.thumbnail .item .detail {
   position: absolute;
   bottom: 15px;
   left: 10px;
   right: 10px;
}
.thumbnail .item .detail .name {
   font-weight: 700;
   font-size: 1rem;
   text-align: right;
   margin-right: 3px;
   margin-bottom: 3px;
   text-shadow: 1px 1px 1px #000;
}
.thumbnail .item .detail blockquote {
   font-weight: 0.7rem;
   font-size: 100;
   margin-right: 3px;
   text-align: right;
   text-shadow: 1px 1px 1px #000;
}


/* Arrows */
.arrows {
   position: absolute;
   top: 75%;
   right: 55%;
   width: 300px;
   max-width: 30%;
   display: flex;
   align-items: center;
   gap: 0.8rem;
}
.arrows p {
   margin-top: -4px;
   font-weight: 900;
}
.arrows button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   box-shadow: 1px 1px 1px #000;
   font-family: monospace;
   color: #d3321d;
   cursor: pointer;
   z-index: 100;
   transition: 0.3s;
}
.arrows button:hover {
   background-color: #d3321d;
   color: #fff;
}


/* Starting Animation */
.slider .list .item:nth-child(1) {
   z-index: 1;
}
.slider .list .item:nth-child(1) .title,
.slider .list .item:nth-child(1) .name,
.slider .list .item:nth-child(1) figure,
.slider .list .item:nth-child(1) .desc,
.slider .list .item:nth-child(1) .more {
   transform: translateY(50px);
   filter: blur(50px);
   opacity: 0;
   animation: showDetail 0.5s 1s linear 1 forwards;
}
@keyframes showDetail {
   to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
   }
}
.slider .list .item:nth-child(1) .name {
   animation-delay: 2s;
}
.slider .list .item:nth-child(1) figure {
   animation-delay: 2.5s;
}
.slider .list .item:nth-child(1) .desc {
   animation-delay: 3s;
}
.slider .list .item:nth-child(1) .more {
   animation-delay: 3.5s;
}


/* Action Next */
.slider.next .list .item:nth-child(1) > img {
   width: 150px;
   height: 220px;
   position: absolute;
   left: 55%;
   bottom: 20%;
   border-radius: 15px;
   animation: growImage 0.5s linear 1 forwards;
}
@keyframes growImage {
   to {
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      border-radius: 0;
   }
}
.slider.next .thumbnail .item:nth-last-child(1) {
   width: 0;
   overflow: hidden;
   opacity: 0;
   animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail {
   to {
      width: 150px;
      opacity: 1;
   }
}
.slider.next .thumbnail {
   transform: translateX(150px);
   animation: transformThumbnail 0.5s linear 1 forwards;
}
@keyframes transformThumbnail {
   to {
      transform: translateX(0);
   }
}


/* Action Previous */
.slider.prev .list .item:nth-child(2) {
   z-index: 2;
}
.slider.prev .list .item:nth-child(2) > img {
   position: absolute;
   bottom: 0;
   left: 0;
   animation: shrinkImage 0.5s linear 1 forwards;
}
@keyframes shrinkImage {
   to {
      width: 150px;
      height: 220px;
      border-radius: 15px;
      left: 55%;
      bottom: 20px;
   }
}
.slider.prev .thumbnail .item:nth-child(1) {
   width: 0;
   overflow: hidden;
   opacity: 0;
   animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item:nth-child(2) .title,
.slider.prev .list .item:nth-child(2) .name,
.slider.prev .list .item:nth-child(2) figure,
.slider.prev .list .item:nth-child(2) .desc,
.slider.prev .list .item:nth-child(2) .more {
   animation: hideDetail 0.5s 1s linear 1 forwards;
}
@keyframes hideDetail {
   to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
   }
}
.slider.next .arrows button,
.slider.prev .arrows button {
   pointer-events: none;
}
.loading-bar {
   width: 0;
   height: 5px;
   background-color: #0084ff;
   position: absolute;
   z-index: 888;
   top: 0;
   left: 0;
}
.slider.next .loading-bar,
.slider.prev .loading-bar {
   width: 100%;
   animation: loadingTime 1.4s linear 1 forwards;
}
@keyframes loadingTime {
   to {
      width: 0;
   }
}


/* Mobile Breakpoint */
@media screen and (max-width: 678px) {
   .slder .list .item .detail .name {
      font-size: 2.8rem;
      line-height: 2.8rem;
   }
   .slder .list .item .detail .desc {
      font-size: 0.8rem;
   }
}


/* About Us */
.hero {
   background-color: #f8f8f8;
   overflow: hidden;
}
.heading h1 {
   color: #000;
   font-size: 32px;
   text-align: center;
   margin-top: 70px;
   padding-top: 70px;
}
.container-about {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   margin: 65px auto;
}
.hero-content {
   flex: 1;
   width: 600px;
   margin: 0px 25px;
   animation: fadeInUp 2s ease;
}
.hero-content h2 {
   font-size: 38px;
   margin-bottom: 20px;
   color: #333;
}
.hero-content p {
   font-size: 24px;
   line-height: 1.5;
   margin-bottom: 40px;
   color: #666;
}





/* .hero-content button {
   display: inline-block;
   background-color: #1089b9;
   color: #fff;
   padding: 12px 24px;
   border-radius: 5px;
   font-size: 20px;
   border: none;
   cursor: pointer;
   transition: 0.3s ease;
}
.hero-content button:hover {
   background-color: #07c900;
   transform: scale(1.1);
} */





.hero-media {
   flex: 1;
   width: 600px;
   margin: auto;
   animation: fadeInRight 2s ease;
}
.vicompro {
   width: 100%;
   height: auto;
   border-radius: 15px;
}


@media screen and (max-width: 768px) {
   .heading h1 {
      font-size: 45px;
      margin-top: 30px;
   }
   .hero {
      margin: 0px;
   }
   .container-about {
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 30px;
   }
   .hero-content {
      width: 100%;
      margin: 35px 0px;
   }
   .hero-content h2 {
      font-size: 28px;
   }
   .hero-content p {
      font-size: 16px;
      margin-bottom: 20px;
   }
   /* .hero-content button {
      font-size: 16px;
      padding: 8px 16px;
   } */
   .hero-media {
      width: 100%;
   }
}
@keyframes fadeInUp {
   0% {
      opacity: 0;
      transform: translateY(50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}
@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}


/* Display 1320px */
@media only screen and (max-width: 1320px) {
   header {
      padding: 0 50px;
   }
}


/* Display 1100px */
@media only screen and (max-width: 1100px) {
   header {
      padding: 0 30px;
   }
   header .vertical {
      display: none;
   }
   header .vertical {
      display: none;
   }
   header .icon-medsos {
      display: none;
   }
   header .name-medsos {
      display: none;
   }
}


/* display 800px */
@media only screen and (max-width: 800px) {
   .btnbar {
      display: block;
   }
   input {
      display: block;
   }
   .logo img {
      width: 200px;
      height: 100px;
      padding-bottom: 5px;
   }
   .navbar {
      position: absolute;
      height: 0;
      top: 80px;
      left: 0;
      right: 0;
      background-color: #75757596;
      text-decoration: none;
      backdrop-filter: blur(15px);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8) ;
      transition: .5s;
      overflow: hidden;
   }
   .navbar.active {
      height: 330px;
   }
   .navbar ul {
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: .5s;
      opacity: 0;
   }
   .navbar.active ul {
      opacity: 1;
   }
   .navbar ul li a {
      margin-bottom: 20px;
   }
   .navbar ul li a {
      text-decoration: none;
      text-transform: capitalize;
   }
}